
$graphPaper: url("../images/hip-square.webp");
$whitePaper: url("../images/ep_naturalwhite.webp");
$wood: url("../images/purty_wood.webp");

$link: #E76F51;
$hover: #F58300;
$active: #FCBA04;

$dark: #81171B;